.container {
  width: 100%;
  height: 100vh;
  background-color: #7d1616;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 16px;
  font-family: 'ClashDisplay';
}
.auteur {
  font-weight: 500;
  font-size: 16px;
}
.mail {
  font-weight: 400px;
  font-size: 12px;
}
.mailContainer {
  background-color: #149530;
  padding: 10px 12px;
  border-radius: 50px;
}
