body {
  line-height: 1.5;
  box-sizing: border-box;
  overflow: hidden;
  overflow-x: hidden;

  margin: 0;
  padding: 0;
  background-color: var(--main-black);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
  font-family: inherit;
}
@media (max-width: 1023px) {
  body {
    overflow-y: auto;
  }
}
