@font-face {
  font-family: 'Manrope';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/Manrope-VariableFont_wght.woff2') format('woff2');
}
@font-face {
  font-family: 'ClashDisplay';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/ClashDisplay-Variable.ttf') format('truetype');
}
