:root {
  --transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-text: #ced2d4;
  --half-black: #00000040;
  --white: #fff;
  --semiwhite: #ffffff99;
  --secondary: #7c858d;
  --main-black: #0c0d0e;
  --bgc-one: #e537ae7a;
  --bgc-two: #8237e57a;
  --header: #ffffff05;
  --project-text: #ffffffbf;
}
