.listContainer {
  background-color: var(--main-black);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  transform: translateY(100%);
  transition: 750ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active {
  transform: translateY(0);
}
.textContainer {
  padding: 40px 16px;
}
.title {
  color: var(--white);
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 16px;
  font-family: 'ClashDisplay';
}
.span {
  color: var(--semiwhite);
}
.text {
  font-family: 'Manrope';
  color: var(--secondary);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0px 16px 40px 16px;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .textContainer {
    padding: 100px 120px 100px 40px;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    font-size: 60px;
  }
  .text {
    font-size: 18px;
    line-height: 100%;
  }
  .listItem {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1024px) {
  .listContainer {
    overflow: hidden;
  }
  .list {
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
  }
  .listActive {
    transform: translateY(-294px);
  }
  .listItem {
    display: flex;
    justify-content: center;
    transform: scale(0.8);
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    scroll-snap-align: center;
  }
  .listItem:hover {
    cursor:
      url('/cursor.png') 16 16,
      auto;
  }
  .listActive .listItem:first-child {
    margin-top: 120px;
  }
  .listItem:last-child {
    margin-bottom: 120px;
  }
  .listItem.active {
    transform: scale(1.11);
    opacity: 1;
    z-index: 50;
  }
  .listContainer::after {
    content: '';
    position: absolute;
    width: 677px;
    height: 498px;
    top: -225px;
    right: 0;
    background-color: var(--color);
    filter: blur(100px);
    border-radius: 50%;
    filter: blur(200px);

    z-index: -1;
  }

  a {
    cursor:
      url('../../assets/cursor.png') 16 16,
      auto;
  }
}
