.container {
  width: 260px;
  height: 52px;
  padding: 16px;
  background-color: var(--modal);
  border-radius: 10px;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  z-index: 10000;
  display: flex;
  gap: 12px;
  box-sizing: border-box;
  color: var(--white);
  font-family: 'Manrope';
  align-items: center;
  justify-content: center;
  font-weight: 600;

  opacity: 0;
  transition:
    opacity 500ms ease,
    transform 500ms ease;
}

.icon {
  width: 20px;
  height: 20px;
  fill: red;
  stroke: yellow;
}

.open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.close {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.95);
}
